<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" #email type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="First Name" #fname type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" #lname type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput #bigInfo placeholder="Interests, hobbies, anything."></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/ok.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">Faculty</h6>
                      <h4 class="card-title">P Nani</h4>
                      <p class="card-description">
                          Very nice.
                      </p>


                      <button mat-raised-button type="submit" (click)="uploadUserProfile()" class="btn btn-danger pull-right">Add Reminder</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
