<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">content_copy</i>
                      </div>
                      <p class="card-category">Average attention of student</p>
                      <h3 class="card-title">74
                          <small>%</small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons" style="color: darkgoldenrod">error_outline</i>
                          <a href="javascript:void(0)">Decreased by 26%</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Total Students</p>
                      <h3 class="card-title">100</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">people_alt</i>
                          <i class="material-icons"></i>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Possibly stressed</p>
                      <h3 class="card-title">7/100</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">warning</i> Need attention
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-2">
          </div>


          <div class="col-md-8">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Student Attentiveness in class</h4>
                      <p class="card-category">
                          <span class="text-danger"><i class="fa fa-long-arrow-down"></i> 4% </span> decrease</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 3 hours ago
                      </div>
                  </div>
              </div>
          </div>


          <div class="col-md-2">
          </div>
      </div>
      <div class="row">
          <div class="col-lg-2 col-md-12">
          </div>
          <div class="col-lg-8 col-md-12">
              <div class="card">
                  <div class="card-header card-header-warning">
                      <h4 class="card-title">Possible Stressed students</h4>
                      <p class="card-category">Predictive analysis</p>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Severity</th>
                              <th>Source of prediction</th>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>Nani</td>
                                  <td>Mild</td>
                                  <td>Instagram</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>Prashant Sharma</td>
                                  <td>Severe</td>
                                  <td>Instagram</td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>


          <div class="col-lg-2 col-md-12">
          </div>
      </div>
  </div>
</div>
